* {
    background-color: #c5d5e4;
}

h1 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: larger;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.originImageBoard {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 80vh;
    width: 100vw;
}
.imageboard {
    height: 60vh;
    width: 60%;
}

.imageList {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.imageContainer {
    margin: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.image {
    height: 200px;
    width: 200px;
    object-fit: cover;
    overflow: hidden;
    object-fit: cover;
}

/* //selectedImageCard fffffffffffffffffffffffffffffffffffffffffffffffffffffffffff*/

.greyScreen {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 123413;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.selectedCard {
    height: 700px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: beige;
}

.writeComment {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.commenting {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
